<h3 class="title">About app</h3>
<div class="about-container col-sm-10 col-md-10 col-lg-8">
  <h5>Короткий опис:</h5>
  <p>
   JS аплікушка - менеджер логотипив.
Скрін 1: список логотипів з превюшками (кансаси), які клікабельні, при кліку відбуваєься перехід скрін2
Скрін 2: превю лого (канвас) та поля редагування: текст, шрифт, геометрична форма (квадрат, трикутник, коло) і кнопка збереження. При збереженні дані логотипа зберігаються та превюшка відмальовує оновлені дані.
Візуальний вигляд сторінки, дизайн і т.п. на розсуд кандидата.
</p>
<h5>Ключові тезиси:</h5>
<ul>
  <li>
    потрібно зробити на angular 7
  </li>
  <li>
    заюзати гугл шрифти (через сервіс), юзати асинхронно, догружати за потреби 
  </li>
  <li>
    будемо працювати з базовими геометричними фігурами (квадрат, трикутник, коло)
  </li>
  <li>
    логотип це базова геом. фігура + текст у шрифті
  </li>
  <li>
    малювати будемо на канвасі (фігури, тескт)
  </li>
</ul>
<h5>Aпп буде робити:</h5>
<ul>
  <li>
    відображати список логотипів з сервіса (даммі лого 5-6штук)
  </li>
  <li>
    логотип можна буде вибрати/цокнути і перейти на його деталі
  </li>
  <li>
    лого детаілс: URL /logo/id/, поле редагування тексту, вибір шрифта, вибір фігури та кнопка збереження
  </li>
  <li>
    кнопка save та cancel з пеореходом на список логотипів
  </li>
</ul>
   <img src="../../../assets/images/test.png" alt="test">
</div>
