<div class="container" >
  <div class="col-6">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="text" [value]="logoInfo.text" >
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <select formControlName="shape" >
          <option value="circle">circle</option>
          <option value="square">square</option>
          <option value="triagle">triagle</option>
        </select>
        <select formControlName="fontFamily">
          <option value="lato">Lato</option>
          <option value="lato">Lato</option>
          <option value="lato">Lato</option>
        </select>
        <br/>
        <canvas #idCanvas width="300" height="200"></canvas>
        <img
        class="demo-logo"
        #idimg
        [src]="logoInfo.image"
        alt="demo logo"
      />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>