<div class="container" >
  <div class="col-6">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="text">Text logo</label>
        <input type="text" class="form-control" id="text" placeholder="Enter text logo" formControlName="text" [value]="logoInfo.text" >
        <label >Logo setings</label>
        <div class="d-flex">
          <div class=" col-6">
            <ng-select
              formControlName="shape"
              [items]="shapes"
              bindLabel="title"
              bindValue="title"
              placeholder="Geometric figure..."
            >
              <ng-template ng-label-tmp let-item="item">
                {{ item.title }}
              </ng-template>
            </ng-select>
          </div>
          <div class=" col-6">
            <ng-select
              formControlName ="fontFamily"
              [items]="fontFamilyList"
              bindLabel="name"
              bindValue="name"
              placeholder="Select font-family"
            >
              <ng-template ng-label-tmp let-item="item">
                {{ item.name }}
              </ng-template>
            </ng-select>
          </div>
        </div>
        <br/>
        <canvas #idCanvas width="300" height="200"></canvas>
        <img
        class="demo-logo"
        #idimg
        [src]="logoInfo.image"
        alt="demo logo"
      />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>