@import '../../sared/variables.scss';

canvas {
  border: 1px solid $primary-color;
  border-radius: $border-radius;
  margin-top: 1.25em;
}

.title {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.logo-container{
  margin: 30px auto;
  padding: 15px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}