@import '../../sared/variables.scss';

.canvas-logo {
  margin: 30px 0;
  text-align: center;
}
canvas {
  border: 1px solid $primary-color;
}
.edit-title {
  margin-top: 20px;
}
.logo {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px 5px;
  margin-bottom: 50px;
  box-shadow: $box-shadow;
  .demo-logo,
  .live-logo {
    width: $width-card;
    height: $height-card;
    margin-top: 70px;
    border: 1px solid $primary-color;
    align-self: center;
  }
  .demo-logo-default {
    width: $width-card;
    height: $height-card;
    margin: 70px auto 0;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1450px;
  }
}
