<app-home></app-home>
<div class="mt-2 col-3 input-group">
  <select class="custom-select" [(ngModel)]="idFontSelect">
    <option selected>Choose...</option>
    <option *ngFor="let font of fonts" [value]="font.title">
      {{ font.title }}</option
    >
  </select>
</div>
<div class="col-4 input-group">
  <input
    type="text"
    class="form-control"
    [(ngModel)]="idLogoText"
    placeholder="Enter text ..."
    aria-label="Recipient's username"
    aria-describedby="basic-addon2"
  />
  <div class="input-group-append">
    <button class="btn btn-primary" (click)="wtiteText()">edit text</button>
  </div>
</div>
<div class="mt-2 col-3 input-group">
    <select class="custom-select" [(ngModel)]="idImgSelect">
      <option selected>Choose...</option>
      <option value="circle">circle</option>
      <option value="triangle">triangle</option>
      <option value="squre">squre</option>
    </select>
    <button (click)="changeImg()" class="btn btn-danger">img</button>
  </div>

<canvas
  #idLogo
  width="300"
  height="150"
  (mousedown)="onMouseDown($event)"
  (mousemove)="onMouseMove($event)"
  (mouseup)="onMouseUp($event)"
></canvas>
<br />
<button (click)="clear()">clear</button>
<button (click)="addLogo()">save</button>

<br />
<img #idimg [src]="img" />
<br />

<button (click)="showLogos()">show all logos</button>

<ul *ngFor="let logo of logos">
  <li>
    <img [src]="logo.imgLogo" alt="name" />
    <span>{{ logo.text }}</span>
  </li>
</ul>
