<div *ngFor="let logo of logos">
  <img [src]="logo.imgLogo" />
  <p>{{ logo.text }}</p>
</div>
<button class="btn btn-success" (click)="saveAndGoHome()">
  save and go to home
</button>

<app-font-family
  *ngFor="let logo of logos"
  [fontFamily]="logo.fontFamily"
  (addFontFamily)="addFontFamily($event)"
></app-font-family>

<app-text
  *ngFor="let logo of logos"
  [text]="logo.text"
  (addText)="addText($event)"
></app-text>

<div class="mt-2 col-4">
  <ng-select
    [items]="imgTenplate"
    bindLabel="title"
    bindValue="title"
    (change)="changeImg(idImgSelect)"
    placeholder="Select geometric figure..."
    [(ngModel)]="idImgSelect"
  >
    <ng-template ng-label-tmp let-item="item">
      {{ item.title }}
    </ng-template>
  </ng-select>
</div>

<canvas #idLogo width="300" height="150"></canvas>
<br />
<button (click)="clear()">clear</button>
<button class="btn btn-success" (click)="editLogo()">save</button>

<br />
<img #idimg *ngIf="img" [src]="img" />
<br />